body{
  background-color: lightgray;
}
.todoTemplate{
  margin-top: 50px;
  height: min-content;
  width: 500px;
  border-radius: 10px;
  border: 1px solid darkgray;
  padding: 10px;
  background-color: white;
}

.todoList{
  height: 500px;
  overflow-y: auto;
}

.todoRow{
  padding: 15px 15px;
  border-bottom: 1px solid lightgray;
}

.todoTitle{
  padding-left: 10px;
  border: none;
}

.inputBlock{
  padding: 15px 10px;
}

.topLogo {
  text-align: center;
}

.deleteButton{
  padding: 0px 10px;
  color: darkgray;
}

.deleteButton :hover{
  color: black;
}

.unCheckBox{
  color: black;
}
.unCheckBox:hover{
  color: rgb(55, 128, 197);
}

.checkedBox{
  color: rgb(55, 128, 197);
}

.checkedBox:hover{
  color: black;
}