
.todoTemplate{
  margin-top: 80px;
  height: 600px;
  width: 500px;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: darkgray;
}

.todoList{
  background-color: white;
  padding: 10px 0 10px 0;
}
.todoRow{
  padding: 10px;
  border-bottom: 1px solid lightgray;
}